@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "gg sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/gg-sans-regular.woff) format("woff");
  }
  @font-face {
    font-family: "gg sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/gg-sans-medium.woff) format("woff");
  }
  @font-face {
    font-family: "gg sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/gg-sans-semibold.woff) format("woff");
  }
  @font-face {
    font-family: "gg sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/gg-sans-bold.woff) format("woff");
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1e1f22;
    border-radius: 100vh;
    border: 3px solid #1e1f22;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
